menu "Sensors configuration"
    config SENSORS_DHT22_MEASUREMENT_BULK_SIZE
        int "DHT22: Number of measurements in bulk"
        default 5
        help
            Average value of bulk measurements are reported to the cloud.

    config SENSORS_DHT22_MEASUREMENT_BULK_SLEEP
        int "DHT22: Sleep time (seconds) between bulk measurements"
        default 10
        help
            Time in seconds between measurements inside the bulk.

    config SENSORS_SDS011_WARM_UP
        int "SDS011: Warm up time (seconds)"
        default 30
        help
            Time in seconds before the first measurement of SDS011.

    config SENSORS_SDS011_MEASUREMENT_BULK_SIZE
        int "SDS011: Number of measurements in bulk"
        default 10
        help
            Average value of bulk measurements are reported to the cloud.

    config SENSORS_SDS011_MEASUREMENT_BULK_SLEEP
        int "SDS011: Sleep time (seconds) between bulk measurements"
        default 5
        help
            Time in seconds between measurements inside the bulk.
endmenu